@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

body {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(10, 10, 110, 1) 35%, rgba(0, 212, 255, 1) 100%);
    padding: 0;
    margin: 0;
}

h1, h2, h3, p, a {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
}

.d-none{
    display: none!important;
}

.d-block{
    display: block!important;
}

.pd-default {
    padding: 0 10px;
}

.p-relative{
    width: fit-content;
    position: relative;
}

.mt-3 {
    margin-top: 30px;
}

.mt-5 {
    margin-top: 50px;
}

.title {
    font-family: sans-serif;
    text-align: center;
    color: #fff7f7;
    font-size: 38px;
    padding: 10px;
    margin-top: 20px;
}

.button {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 100%;
    border-radius: 20px;
    border: 1px solid green;
    background: green;
    color: white;
    padding: 10px 0;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
    font-family: emoji;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.button:hover {
    border: 1px solid #03c703;
    background: #03c703;
}

.form-input-block {
    display: flex;
    flex-direction: column;
}

.label {
    height: auto;
    font-size: 20px;
    margin-bottom: 10px;
}

.input {
    border: 2px solid #348EFF;
    border-radius: 10px;
    outline: none;
    font-family: cursive;
    color: black;

    height: auto;
    font-size: 20px;
    padding: 10px;

}

.input-hint{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    background: #2a2a2a;
    color: white;
    border-top-right-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.input::placeholder {
    font-family: cursive;
    color: #00000070;
}

.form-button {

}

.owl-slider {
    position: relative;
}

.owl-thumbs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-top: 14px;
    gap: 6px;

    width: 100%;

}

.owl-thumb-item {
    width: 80px;
    border-radius: 4px;

    cursor: pointer;
}

.owl-carousel__navigation {
    position: absolute;
    top: 50%;
    pointer-events: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.owl-carousel__item {
    pointer-events: auto;
    width: 40px;
    height: 40px;
    background: #348EFF;
    border-radius: 8px;
    z-index: 1;

    display: flex;
    justify-content: center;
    cursor: pointer;
}

.owl-carousel__item--next {
    position: absolute;
    right: 20px;
}

.owl-carousel__item--prev {
    position: absolute;
    left: 20px;
    transform: rotate(180deg);
}

.d-none-sm {
    display: none;
}

.button {
    font-size: 32px;
}

.promo {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.promo-block {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.promo-info {
    width: 95%;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
}

.promo-info__title {
    text-align: center;
}

.promo-info__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
}

.promo-info__list-item {
    font-size: 20px;
}

.promo-title {
    font-family: sans-serif;
    text-align: center;
    color: #fff7f7;
    font-size: 99px;
    padding: 10px;
    margin-top: 20px;
}

.promo-product {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
}

.promo-video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.promo-product img {
    object-fit: fill;
    width: 80%;
}

.promo-info__title {
    font-size: 32px;
}

.promo-video {

}

.structure-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;

}

.structure-block__product {
    display: none;
    margin: auto;
}

.structure-block__product-img {
    display: flex;
    width: 160px;
    height: 160px;
    background: white;
    border-radius: 50%;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

.structure-block__product-name {
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}

.structure-block__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.structure-block__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    background: aliceblue;
    border-radius: 20px;
}

.structure-block__list-item p {
    text-align: center;
    font-size: 32px;
}

.structure-block__list-item img {
    width: 100%;
    object-fit: fill;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.feedback-card {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;

    background: white;
    border-radius: 20px;
    padding: 5px;
}

.feedback-card__avatar {
    border-radius: 20px;
    object-fit: fill;
}

.feedback-card__name {
    text-align: center;
    font-size: 20px;
    width: 100%;
}

.feedback-card__feedback {
    padding: 10px;
    font-size: 20px;
}

.promo-2 {
    display: flex;
    flex-direction: column;
}

.promo-2-product {
    display: flex;
    justify-content: center;
    gap: 0;
    flex-direction: column;
    align-items: center;
}

.promo-2-product__descriptions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: white;
    border-radius: 20px;
    padding: 10px;
    font-family: cursive;
    height: fit-content;
    width: 100%;
    font-size: 20px;
}

.promo-2-product img {
    width: 40%;
}

.promo-2-info {
    background: white;
    padding: 10px;
    margin-top: 30px;
}

.promo-2-info__title {
    text-align: center;
    font-size: 32px;
    font-family: sans-serif;
}

.promo-2-info__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-direction: column;
    gap: 10px;
}

.promo-2-info__list-item {
    width: 100%;
    font-family: serif;
    font-size: 24px;
}

.sale {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
    align-items: center;
    width: fit-content;
    margin: 50px auto;
    border-radius: 20px;
    padding: 20px;
}

.sale__title {
    font-size: 75px;
}

.sale__timer {
    display: flex;
    gap: 15px;
    font-family: cursive;
    font-size: 50px;
    flex-direction: column;
    align-items: center;
}

.sale__timer div {
    color: red;
    font-style: oblique;
    font-weight: bold;
    animation: pulse 2s linear infinite;

}

.sale__block {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sale__discount {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sale__discount img {
    width: 50%;
    object-fit: contain;
}

.sale__price {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sale__price-old {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 32px;
    border: 8px solid red;
    border-radius: 35px;
    padding: 10px;
}

.sale__price-old:before {
    border-bottom: 6px solid red;
    position: absolute;
    content: "";
    width: 100%;
    right: 0;
    height: 30%;
    transform: rotate(7deg);
}

.sale__price-new {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border: 8px solid green;
    border-radius: 35px;
    padding: 10px;
}

.sale__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 30px auto;
}

@media screen and (min-width: 769px) {

    .label {
        font-size: 24px;
    }

    .input {
        height: auto;
        font-size: 24px;
        padding: 20px;
    }

    .title {
        font-size: 80px;
    }

    .button {
        font-size: 32px;
    }

    .promo-block {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .promo-info {
        width: 95%;
    }

    .promo-product {
        display: flex;
        justify-content: center;
    }

    .promo-product img {
        object-fit: fill;
        width: 80%;
    }

    .promo-info__title {
        font-size: 40px;
    }

    .promo-video {

    }

    .structure-block {
        flex-direction: column;
        gap: 15px;
    }

    .structure-block__product {
        display: block;
    }

    .structure-block__product img {
        width: 160px;
        height: 160px;
        object-fit: contain;
    }

    .structure-block__list {
        flex-direction: row;
    }

    .structure-block__list-item {
        width: fit-content;
    }

    .structure-block__list-item p {
        font-size: 24px;
    }

    .promo-2-product {
        justify-content: center;
        gap: 0;
        flex-direction: column;
        align-items: center;
    }

    .promo-2-product__descriptions {
        width: 100%;
        font-size: 20px;
    }

    .promo-2-product img {
        width: 40%;
    }

    .promo-2-info {
        margin-top: 30px;
    }

    .promo-2-info__list {
        flex-direction: row;
        gap: 10px;
    }

    .promo-2-info__list-item {
        width: 100%;
        font-family: serif;
        font-size: 24px;
    }

    .sale__title {
        font-size: 75px;
    }

    .sale__timer {
        flex-direction: row;
        font-size: 40px;
    }

    .sale__block {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .sale__discount {
        width: 100%;
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .sale__discount img {
        width: 30%;
        object-fit: contain;
    }

    .sale__price {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .sale__price-old {
        position: relative;
        font-size: 32px;
        border: 8px solid red;
        border-radius: 35px;
        padding: 10px;
    }

    .sale__price-old:before {
        border-bottom: 6px solid red;
        position: absolute;
        content: "";
        width: 100%;
        right: 0;
        height: 30%;
        transform: rotate(7deg);
    }

    .sale__price-new {
        font-size: 50px;
        border: 8px solid green;
        border-radius: 35px;
        padding: 10px;
    }

    .sale__form {
        margin: 30px auto;
    }
}

@media screen and (min-width: 1440px) {

    .button {
        font-size: 32px;
    }

    .promo {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .promo-title {
        font-family: sans-serif;
        text-align: center;
        color: #fff7f7;
        font-size: 99px;
        padding: 10px;
        margin-top: 20px;
    }

    .promo-block {
        flex-direction: row;
        gap: 50px;
        margin: 50px auto;
    }

    .promo-product {
        padding: 20px;
        border-radius: 20px;
    }

    .promo-info {
        width: 40%;
        display: flex;
        flex-direction: column;
        background: #fff;
        padding: 20px;
        border-radius: 20px;
    }

    .promo-info__title {
        font-family: system-ui;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
    }

    .promo-info__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .promo-info__list-item {
        font-family: system-ui;
        list-style-type: none;
        font-size: 24px;
    }

    .structure-block {
        display: flex;
        flex-direction: row;
        gap: 100px;
        margin-top: 30px;
    }


    .structure-block__product {
        margin: auto;
    }

    .structure-block__product-img {
        width: 200px;
        height: 200px;
        background: white;
        border-radius: 50%;
        padding: 40px;
    }

    .structure-block__product-name {
        text-align: center;
    }

    .structure-block__product img {
        object-fit: contain;
    }

    .structure-block__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .structure-block__list-item {
        width: 50%;
    }

    .structure-block__list-item img {
        width: 100%;
        object-fit: fill;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .structure-block__list-item p {

    }

    .feedback-card {
        display: flex;
        gap: 20px;
        align-items: center;
        flex-direction: column;

        background: white;
        border-radius: 20px;
        padding: 5px;
    }

    .feedback-card__avatar {
        border-radius: 20px;
        object-fit: fill;
    }

    .feedback-card__name {
        text-align: center;
        width: 100%;
    }

    .feedback-card__feedback {
        font-size: 20px;
    }

    .promo-2 {
        display: flex;
        flex-direction: column;
    }

    .promo-2-product {
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-direction: row;
    }

    .promo-2-product__descriptions {
        width: 40%;
    }

    .promo-2-info {
        margin-top: 0;
        background: white;
        padding: 10px;
    }

    .promo-2-info__title {
        text-align: center;
        font-size: 32px;
        font-family: sans-serif;
    }

    .promo-2-info__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    .promo-2-info__list-item {
        width: 30%;
        font-family: serif;
        font-size: 24px;
    }

    .sale {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: white;
        align-items: center;
        width: fit-content;
        margin: 50px auto;
        border-radius: 20px;
        padding: 20px;
    }

    .sale__title {

    }

    .sale__timer {
        font-size: 25px;
        font-family: cursive;
    }

    .sale__timer span {
        color: red;
        font-style: oblique;
        font-weight: bold;
    }

    .sale__block {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .sale__discount {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .sale__discount img {
        width: 30%;
        object-fit: contain;
    }

    .sale__form {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
